/* html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #2F5E7A;
    padding: 0;
    margin: 0;
    font-family: arial;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
} */

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    background: rgba(10, 41, 65, 1);
    z-index: 100;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: white;
}
.sidebarMenuInner li a{
  font-size: 18px;
    display: block;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}



.container {
  height:100%;
  width: 100%;
  background: #2F5E7A;
  flex: 1;
}

.practice-space {
height: 100%;
float: left;
/* width: 60%; */
}

.top {
height: 20%;
font-size: 15px;
}

.header {
    display: block;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #214563;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    color:white;
}

.main {
 width: 95%;
 height:100%;
 font-size: 15px;
 margin-left: auto;
 margin-right: auto;
}


.right-section {
  float: left;
  width: 20%;
  height: 100%;
}

.center-title {
  height:5%;
  width:95%;
  margin: auto;
  font-size: 15px;
  background: #D1DEE4;
  padding: 0 0 0 15px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  color: #214561;
}

.center-section {
  height:95%;
  width:95%;
  margin: auto;
}
.left-section {
  float: left;
  width: 20%;
  height:100%;
}
footer{
    height: 50px;
    width: 100%;
    background-color: #214563;
    color: #fff;
}



.code-class {
  width:80%;
  float: left;
}

.advice-class {
  width:20%;
  float: left;
  border-left  :solid 5px #5989cf;
  box-sizing: border-box;
}


.file {
text-align: center;
width:200px;
background: rgb(213, 217, 219);
border: 1px solid rgb(130, 138, 142);
height: 30px;
box-sizing: border-box;
float:right;
font-size: 12px;
font-weight: bold;
font-family: 'FontAwesome', sans-serif;
border-radius: 2px 2px 2px 2px;

}

.save-class {
  float:left;
}

.tmpb-class {
  height:100%;
  float: right;
  background-color: #202C33;
  border: 2px solid #202C33;
  color: #fff;
  width: 100px;
  font-size: 15px;
  border-radius: 0 10px 0 0;
  box-sizing: border-box;
}
.tmpb-class:hover {
  background-color: #fff;
  border-color: blue;
  color: blue;
}

.compile_button {
  background-color: rgb(81, 101, 149);
  border: 2px solid rgb(51, 79, 95);
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 15px;
  float: left;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;

}
.compile_button:hover {
  background-color: #fff;
  border-color: blue;
  color: blue;
}

.submit_button {
  background-color: rgb(81, 101, 149);
  border: 2px solid rgb(51, 79, 95);
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 15px;
  float: left;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;

}
.submit_button:hover {
  background-color: #fff;
  border-color: red;
  color: red;
}

.cp_actab {
  float: right;
	position: relative;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	color: white;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {

	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	cursor: pointer;
	margin: 0 0 1px 0;
	background:  #202C33;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
	background: #e9e9e9;
}
.cp_actab .cp_actab-content p {
	margin: 1em;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 20em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '+';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}

.header a{
  float:right;
  margin-right: 5%;
  color:white;
}

#nav {
  list-style: none;
  overflow: hidden;

}

#nav li {
  /* width: 120px; */
  text-align: center;
  /* background-color: #202C33; */
  float: left;
  height: 90%;
  /* line-height: 30px; */
  margin-right: 2px;
  color: yellow;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

#task-id {
  list-style: none;
  overflow: hidden;

}

#task-id li {
  width: 120px;
  text-align: center;
  background-color: #202C33;
  float: left;
  height: 90%;
  line-height: 30px;
  margin-right: 2px;
  color: yellow;
}

#task-id li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

.task {
float:left;
width :100%;
height : 80%;
margin-top: auto;
margin-bottom: auto;
}

.cp_qa {
height:100%;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	font-family: 'FontAwesome', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa dt,.cp_qa dd {
	position: relative;
	padding: 0.5em;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	border-radius: 0.3em;
}
.cp_qa dt {
	margin: 0 3em 1em 3em;
  color: black;
	background: #ffe0b2;
  font-size: 8px;
}
.cp_qa dd {
	margin: 0 3em 3em 3em;
  color: black;
	background: #b2ebf2;
  font-size: 8px;
}
/* 吹き出し▶︎ */
.cp_qa dt::before,.cp_qa dd::before{
	position: absolute;
	z-index: 99;
	top: 0.5em;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
}
/* 質問吹き出し▶︎ */
.cp_qa dt::before {
	left: -0.5em;
	border-width: 5px 8.7px 5px 0;
	border-color: transparent #ffe0b2 transparent transparent;
}
/* 答え吹き出し▶︎ */
.cp_qa dd::before {
  right: -0.5em;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #b2ebf2;
}
/* ?!アイコン */
.cp_qa dt::after,.cp_qa dd::after {
	font-size: 1.2em;
	position: absolute;
	top: 0;
	color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.2em;
}
/* ?アイコン */
.cp_qa dt::after {
	left: -2.5em;
	margin: 0 0.5em 0 0;
	padding: 0.2em 0.4em;
	content: '? ';
	background: #f57c00;
}
/* !アイコン */
.cp_qa dd::after {
	right: -2.5em;
	margin: 0 0 0 0.5em;
	padding: 0.2em 0.55em;
	content: '! ';
	background: #0097a7;
}

.question_class {
  white-space: pre-wrap;
  height:150px;
  width:100%;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.4em;
}

#send-question{
  /* width: 80%;  */
  /* background-color: rgb(81, 101, 149); */
  background-color: white;
  border: 1px solid rgb(51, 79, 95);
  color:rgb(51, 79, 95);
  font-size: 0.7em;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-right: 3px;
  border-radius: 5px 5px 5px 5px;

}

.stdin-title {
  width: 100%;
  height:5%;
  font-size: 15px;
  background: #D1DEE4;
  padding: 2px 0 2px 15px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  color: #214561;
}

.stdin-contents{
  width: 100%;
  height:15%;
  background: white;
  box-sizing: border-box;
  border-radius:0 0 10px 10px;
}

.stdin_class {
  width: 100%;
  height:100%;
  border: none;
  border-radius:5px 5px 5px 5px;
  margin-top: 5px;
}

.stdout-title {
  width: 100%;
  height:5%;
  font-size: 15px;
  background: #D1DEE4;
  margin-top: 5%;
  padding: 2px 0 2px 15px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  color: #214561;
}

.stdout-contents{
  overflow:auto;
  font-size: 12px;
  width: 100%;
  height:15%;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius:0 0 10px 10px;
}

.stderr-title {
  width: 100%;
  height:5%;
  font-size: 15px;
  background: #D1DEE4;
  margin-top: 5%;
  padding: 2px 0 2px 15px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  color: #214561;
}

.stderr-contents{
  overflow:auto;
  font-size: 12px;
  width: 100%;
  height:15%;
  background: white;
  box-sizing: border-box;
  border-radius:0 0 10px 10px;
}

.language {
float : right;
padding-right: 30px;
}

.theme-select {
float : right;
padding: auto;
}

.under {
margin-left: auto;
margin-right: auto;
width: 100%;
}

.result {
  font-size: 10px;
  width:30%;
overflow-x: auto;

}


.cp_ipselect {
overflow: hidden;
width: 250px;
}
.cp_ipselect select {
font-size: 18px;
width: 250px;
padding-right: 1em;
cursor: pointer;
text-indent: 0.01px;
text-overflow: ellipsis;
border: none;
outline: none;
background: transparent;
background-image: none;
box-shadow: none;
-webkit-appearance: none;
appearance: none;
}

.cp_ipselect select::-ms-expand {
display: none;
}

.cp_ipselect.cp_sl04 {
position: relative;
border-radius: 2px;
border: 2px solid #202C33;
background: #ffffff;
}

.cp_ipselect.cp_sl04::before {
position: absolute;
top: 0.8em;
right: 0.8em;
width: 0;
height: 0;
padding: 0;
content: '';
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #202C33;
pointer-events: none;
}

.cp_ipselect.cp_sl04 select {
padding: 8px 38px 8px 8px;
color: #202C33;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 background: white;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.main-textlines {
  border: 1px solid rgba(105, 104, 113, 0.244);  /*枠線*/
  border-radius:0 0 0 10px;
  padding: 0.5em;          /* 内側の余白量 */
  /* background-color: snow;  背景色 */
  width: 100%;             /* 横幅 */
  height: 400px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
}

.advice-textlines {
  border: 1px solid rgba(105, 104, 113, 0.244);  /*枠線*/
  border-radius:0 0 10px 0;
  padding: 0.5em;          /* 内側の余白量 */
  /* background-color: snow;  背景色 */
  width: 100%;             /* 横幅 */
  height: 400px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
}

#nav ul li{ 	
  display: inline;
} 

#nav ul{
  padding: 0px; 	
  margin: 0px;
} 